<div style="padding: 1rem;">
  <fdp-table [dataSource]="requisitions$"
    emptyTableMessage="No data found" i18n-emptyTableMessage>

    <fdp-table-toolbar title="Requisitions" i18n-title [hideItemCount]="false">
    </fdp-table-toolbar>

    <fdp-column name="title" key="title" [sortable]="true" [filterable]="true" label="Title" i18n-label>
      <fdp-table-cell tabindex="0" role="" *fdpCellDef="let item">
        <a [routerLink]="['/checkout', item.identity]">{{item.title}}</a>
      </fdp-table-cell>
    </fdp-column>

    <fdp-column name="requestor" key="requestor.name" [sortable]="true" [filterable]="true" label="Requestor" i18n-label>
    </fdp-column>

    <fdp-column name="supplier" key="supplier.name"  [sortable]="true" [filterable]="true" label="Supplier" role="" i18n-label>
      <fdp-table-cell tabindex="0" role="" *fdpCellDef="let item">
        {{item.supplier.name}}
      </fdp-table-cell>
    </fdp-column>

    <fdp-column name="commodity" key="commodityCode.name" [sortable]="true" [filterable]="true" label="Commodity" i18n-label>
    </fdp-column>

    <fdp-column name="dueOn" key="dueOn" [sortable]="true" [filterable]="true" label="Due On" i18n-label>
      <fdp-table-cell tabindex="0" role="" *fdpCellDef="let item">
        {{item.dueOn | date }}
      </fdp-table-cell>
    </fdp-column>

  </fdp-table>
</div>
